@font-face {
    font-family: 'Bembo Expert BQ';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/BemboExpertBQ-BoldOsF.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/BemboExpertBQ-BoldOsF.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ETBembo';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-RomanOSF.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-RomanOSF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ETBembo';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-DisplayItalic.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-DisplayItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ETBembo';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-RomanLF.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-RomanLF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ETBembo';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-SemiBoldOSF.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-SemiBoldOSF.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ETBembo';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-BoldLF.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ETBembo-BoldLF.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Text Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Italic.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTrial-Italic.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTrial-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Text Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTrial-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTrial-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Text Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-BoldItalic.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'A Day Without Sun Text Trial';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/ADayWithoutSunTextTrial-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bemock';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/Bemock-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/Bemock-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gedhibold';
    src: url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/Gedhibold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/ForkFaceJones/etbook@bba3302/Gedhibold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

